<main class="todocontainer">
  <section class=" header">
  <h2 class="text-center mb-4">Welcome {{ data?.username }}</h2>
  <button class="btn btn-primary" (click)="logout()">Logout</button>
  </section>
  <button class="all btn btn-primary w-100" (click)="switch()">View All Tasks</button>
  <article class="secondcontainer">
    <section class="body left">
      <h2 class="text-center mb-4">To do Tasks</h2>
      <article>
        <ul class="list-group">
          <li *ngFor="let task of notCompletedTasks; let i = index" class="list-group-item" [ngClass]="{ 'completed': task.completed }">
            <div class="class d-flex justify-content-between align-items-center">
              <div class="title">
                <span class="name">{{ task.title }}</span><br>
                <span class="date">{{ task.dueDate | date }}</span>
              </div>
              <div class="buttons">
                <button (click)="deleteTask(i,'notCompleted')" class="btn a">Delete</button>
                <button (click)="editTask(i,'notCompleted')" class="btn b">Edit</button>
                <button (click)="toggleCompletion(i,'notCompleted')" class="btn c" >Complete </button>
              </div>
              <div class="description">
                <span>{{ task.description }}</span><br>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </section>
    <section class="body">
      <h2 class="text-center mb-4">Task Manager</h2>
      <form (ngSubmit)="addTask()" #loginForm="ngForm">
        <section class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            [(ngModel)]="formData.title"
            name="title"
            placeholder="Enter the Title"
            required
          />
        </section>
        <section class="description mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            
            type="text"
            id="description"
            class="form-control"
            [(ngModel)]="formData.description"
            name="description"
            placeholder="Enter the description"
            required
          />
        </section>
        <section class="mb-3">
          <label for="due-date" class="form-label">Due Date:</label>
          <input
            type="date"
            id="due-date"
            [(ngModel)]="formData.dueDate"
            class="form-control"
            name="dueDate"
            required
          />
        </section>
        <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.valid">
          Add Task
        </button>
      </form>

      <section class="btn-group mb-3">
        <button (click)="updateTask()" class="btn1">Update</button>
      </section>
   
    </section>
    <section class="body right">
      <h2 class="text-center mb-4">Completed</h2>
      <article>
        <ul class="list-group">
          <li *ngFor="let task of completedTasks; let i = index" class="list-group-item" [ngClass]="{ 'completed': task.completed }">
            <div class="class d-flex justify-content-between align-items-center">
              <div class="title">
                <span class="name">{{ task.title }}</span><br>
                <span class="date">{{ task.dueDate | date }}</span>
              </div>
              <div class="buttons">
                <button (click)="deleteTask(i,'completed')" class="btn a">Delete</button>
              </div>
              <div class="description">
                <span>{{ task.description }}</span><br>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </article>
</main>
