<main class="logincontainer">
  <article class="body">
      <h2 class="text-center mb-4">Login</h2>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <section class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            [(ngModel)]="credentials.email"
            name="email"
            placeholder="Enter your Name"
            required
          />
        </section>
        <section class="mb-3">
          <label for="password" class="form-label">Pasword</label>
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="credentials.password"
            name="password"
            placeholder="Enter your Email"
            required
          />
        </section>
        <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.valid">
          Login
        </button>
      </form>
      <p class="text-center mt-3">
        Don't have an account?
        <a [routerLink]="'/register'" class="text-decoration-none">Registe</a>
      </p>
  </article>
</main>
